.main_banner {
  background-image: url(https://i.ibb.co/9ZF9TGr/Team-dark-s-746fdeo4vksr61htsedzm5x1n3p02egrcghogpoods4-jpg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 160px;
  align-items: center;
}
.head_content {
  font-size: 38px;
  margin: 0 0 32px;
}
.form_container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3rem;
  h2 {
    text-align: center;
  }
  input {
    width: 100%;
    margin: 5px 0;
    padding: 18px;
    font-size: 18px;
    border-radius: 5px;
  }
  textarea {
    width: 100%;
    margin: 5px 0;
    padding: 18px;
    font-size: 18px;
    border-radius: 5px;
  }
}
.input {
  outline: none !important;
  border: none;
}
.textarea {
  outline: none !important;
  border: none;
}
.form_button {
  background-image: var(--secondary_bg);
  padding: 18px 40px;
  color: white;
  border: none;
  font-size: 18px;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  &:hover {
    background-image: var(--main_bg);
    transition: 0.5s;
    cursor: pointer;
  }
}
@media only screen and (max-width: 768px) {
  .main_banner {
    background-image: url(https://i.ibb.co/9ZF9TGr/Team-dark-s-746fdeo4vksr61htsedzm5x1n3p02egrcghogpoods4-jpg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  .grid_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    width: 90%;
    margin: 20px 0;
  }
  .head_content {
    font-size: 25px;
    margin: 0 0 32px;
  }
  .form_container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
  }
  .first_content {
    text-align: center;
  }
}
