/* hover effect */
/* From cssbuttons.io by @nikk7007 */
.container_main {
  padding-bottom: 100px;
}
.head_content {
  font-size: 38px;
  margin: 0 0 32px;
}
.first_content {
  text-align: center;
}
.text_content {
  color: rgba(0, 0, 0, 0.775);
  font-size: 18px;
  line-height: 30px;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 50px 0;
}
.main_div {
  &:hover {
    img {
      background-image: linear-gradient(to right, #fff, #fff);
      border-radius: 10px;
    }
    &::before {
      height: 410px;
      width: 510px;
    }
    &::after {
      height: 410px;
      width: 510px;
    }
    color: white;
  }
  img {
    margin-right: 10px;
    background-image: linear-gradient(to right, #00286818, #bf0a3111);
    border-radius: 10px;
  }
  h3 {
    font-size: 22px;
  }
  display: flex;
  justify-content: start;
  align-items: center;
  border: 3px solid #00286834;
  padding: 10px 20px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  color: #111;
  z-index: 1;
  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-image: linear-gradient(to left, #002868, #bf0a30);
    transition: 1s ease;
    top: -1em;
    left: -1em;
  }
  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-image: linear-gradient(to left, #002868, #bf0a30);
    transition: 1s ease;
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }
  &:active {
    filter: brightness(0.8);
  }
}
@media only screen and (max-width: 768px) {
  .head_content {
    font-size: 25px;
    margin: 0 0 32px;
  }
}
