/* NAVBAR STYLING STARTS */
.navbar {
  background-color: #fff;
  color: #1e1e1f;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: 0.5s;
}
.navbar_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}
.nav-links {
  a {
    color: #1e1e1f;
  }
}
.logo {
  font-size: 32px;
  cursor: pointer;
}
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  align-items: center;
  li {
    &:hover {
      color: #11a173;
      border-radius: 5px;
      transition: 0.3s ease;
      cursor: pointer;
    }
    padding: 5px 14px;
  }
}
.services {
  position: relative;
  &:hover {
    .dropdown {
      display: block;
    }
  }
}
.dropdown {
  background-image: linear-gradient(to right, #002868, #bf0a30);
  padding: 1em 0;
  position: absolute;
  display: none;
  top: 35px;
  li {
    + {
      li {
        margin-top: 10px;
      }
    }
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
    color: #fff;
    &:hover {
      background-color: #bf0a30;
      a {
        color: #002868;
      }
    }
  }
}
.dropdown li a {
  color: white;
}
.btn_navbar {
  padding: 13px 40px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  &:hover {
    background-image: linear-gradient(to right, #002868, #bf0a30);
    transition: 0.5s;
    cursor: pointer;
  }
}
input[type="checkbox"] {
  display: none;
}
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    color: #1e1e1f;
    li {
      &:hover {
        display: inline-block;
        color: #11a173;
        transition: 0.3s ease;
      }
      + {
        li {
          margin-top: 12px;
        }
      }
    }
  }
  input[type="checkbox"] {
    &:checked {
      ~ {
        .menu {
          display: block;
        }
      }
    }
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
    li {
      &:hover {
        background-color: #002868;
        a {
          color: #bf0a30;
        }
      }
    }
  }
  .btn_navbar {
    width: 100%;
    padding: 13px 40px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    &:hover {
      background-image: linear-gradient(to right, #002868, #bf0a30);
      transition: 0.5s;
      cursor: pointer;
    }
  }
}
