@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap";
html {
  font-family: "Roboto", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary_color: #062530;
  --local_color: #11a173;
  --white: #ffffff;
  --black: #000;
  --primary_bg: #062530;
  --main_bg: linear-gradient(to left, #002868, #bf0a30);
  --secondary_bg: linear-gradient(to top, #002868, #bf0a30);
  --local_bg: #1e1e1f;
}
.container {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
}
.container_fluid {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.primary_color {
  color: var(--local_color);
}
.primary_bg {
  background-image: var(--main_bg);
}
.secondary_color {
  color: var(--local_bg);
}
.secondary_bg {
  background-color: var(--local_bg);
}
.custom_text_color1 {
  color: var(--white);
}
.custom_text_color2 {
  color: var(--black);
}
