.learningPath_main {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  position: relative;
}
.second_path_learning {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  position: relative;
}
.main_container {
  background-image: url(https://i.ibb.co/WKMDwFZ/basics-b-basics.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 30px 0;
}

.col_learning1 {
  padding: 1rem;
  position: relative;
}
.icon_scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 133%;
  left: 0;
}
.icon_learning1 {
  padding: 1rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -2px 3px 15px rgba(0, 0, 0, 0.15);
  position: relative;
  top: 0;
  left: 10px;
  cursor: pointer;
}
.col_learning1 h3 {
  font-size: 18px;
  color: #9169f4;
}
.item_icon2 {
  font-size: 28px;
  color: #9169f4;
}
.text_icon {
  background-color: #9169f4;
  color: white;
  padding: 0 10px 0 25px;
  border-radius: 5px;
}
.text_icon span {
  font-weight: bold;
}
.col_learning1 h2 {
  font-size: 48px;
  margin: 19px 0 10px 25px;
  color: #2d3540;
  font-weight: 500;
}
.col_learning1 p {
  font-size: 18px;
  font-weight: normal;
}
.col_learning2 {
  background-image: linear-gradient(to right, #529bdf, #82c3fe);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  width: 380px;
  border-radius: 10px;
  color: white;
  margin: 0 auto;
}
.col_learning5 {
  background-image: linear-gradient(to right, #529bdf, #82c3fe);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  width: 216px;
  height: 222px;
  border-radius: 10px;
  color: white;
  margin: 0 auto;
}
.col_learning6 {
  background-image: linear-gradient(to bottom, #4e6ad7, #603de8);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  width: 216px;
  height: 222px;
  border-radius: 10px;
  color: white;
  margin: 0 auto;
}
.col_svg {
  position: absolute;
  top: 110px;
  left: -37px;
}

.img_main {
  margin-top: -20%;
}
.img_path2 {
  margin-top: -10%;
}
.img_main2 img {
  width: 100%;
  margin-top: -20%;
}

.col_learning3 {
  background-image: linear-gradient(to right, #529bdf, #82c3fe);
  padding: 1rem 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  width: 280px;
  border-radius: 10px;
  color: white;
  margin: 0 auto;
}

.path_5 {
  position: relative;
  top: -112.5%;
  left: -40%;
}
.path_6 {
  position: relative;
  top: -280%;
  right: -10%;
}
.col_svg2 {
  position: absolute;
  bottom: -80%;
  left: 32%;
}
.item_svg3 {
  position: absolute;
  bottom: -80%;
  left: 32%;
}
.item_svg4 {
  position: absolute;
  bottom: -50%;
  left: 85%;
}
.item_path {
  padding: 0 10px;
}
.item_path p {
  margin-bottom: 10px;
}

.btn_learning_path {
  display: block;
  margin-top: -5px;
  margin-left: -5rem;
  padding: 13px 60px;
  border: 2px solid #9169f4;
  color: #9169f4;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.btn_learning_path2 {
  position: absolute;
  bottom: -53%;
  left: 60%;
  display: block;
  padding: 13px 60px;
  border: 2px solid #529bdf;
  color: #529bdf;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
.item_desc {
  position: absolute;
  bottom: 30px;
  left: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item_desc p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #23649c;
}
.item_desc h2 {
  font-size: 24px;
}
.item_icon {
  margin-left: 30px;
  font-size: 4rem;
  position: absolute;
  top: 10px;
}

@media only screen and (max-width: 768px) {
  .col_learning1 {
    padding: 1rem;
    margin: 20px;
  }
  .learningPath_main {
    padding: 100px 0;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    position: relative;
  }
  .second_path_learning {
    padding: 100px 0;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    position: relative;
  }

  .btn_learning_path {
    display: block;
    margin-top: -5px;
    margin-left: -5rem;
    padding: 13px 40px;
    display: none;
  }

  .btn_learning_path2 {
    position: absolute;
    bottom: -50%;
    left: 65%;
    display: block;
    padding: 13px 40px;
    display: none;
  }
  .col_svg2 {
    position: absolute;
    bottom: -80%;
    left: 48%;
    display: none;
  }
  .item_svg3 {
    position: absolute;
    bottom: -80%;
    left: 48%;
    display: none;
  }
  .item_svg4 {
    position: absolute;
    bottom: -50%;
    left: 85%;
    display: none;
  }

  .col_svg {
    display: none;
    position: absolute;
    top: 110px;
    left: -37px;
  }
  .icon_scroll {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 133%;
    left: 0;
  }
}
