.main_services_container {
  padding: 0 0 100px 0;
}
.head_content {
  font-size: 2.5rem;
  margin: 0 0 32px;
}
.content_text {
  text-align: center;
}
.text_content {
  color: rgba(0, 0, 0, 0.775);
  font-size: 18px;
  line-height: 30px;
}
.platform {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 50px 0 0 0;
}
.platform_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
  color: rgb(100, 100, 100);
  width: 40%;
}
.ul .li {
  display: inline-block;
  padding: 0 100px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
  color: rgb(130, 130, 130);
}
.div_list {
  border-bottom: 1px solid lightgrey;
}
@media only screen and (max-width: 768px) {
  .head_content {
    font-size: 2rem;
    margin: 0 0 32px;
  }
  .platform {
    display: block;
    padding: 20px;
    margin: 50px 15px;
  }

  .ul .li {
    display: inline-block;
    padding-bottom: 0;

    font-size: 18px;
    border-bottom: none;
    color: rgb(130, 130, 130);
  }
}
